<div class="row">
  <div class="col-md-6">
    <h3>Upload to WebApi</h3>
    <p>Upload a file to a WebApi service and get back a response.</p>
    <div>
      <form class="form-horizontal" [formGroup]="uploadForm">
        <div class="form-group">
          <label class="control-label col-md-3">Name:</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="name">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3">Age:</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="age">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3">Avatar:</label>
          <div class="col-md-9">
            <input type="file" class="form-control" (change)="uploadFiles($event)">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-3 col-md-9">
            <button type="button" class="btn btn-primary" (click)="save()">Save</button>
          </div>
        </div>
      </form>
      <div *ngIf="formResponse">
        <strong>Response</strong>
        <ul>
            <li><b>Name: </b> <span>{{ formResponse.name }}</span></li>
            <li><b>Age: </b> <span>{{ formResponse.age }}</span></li>
            <li><b>File Name: </b> <span>{{ formResponse.avatar }}</span></li>
          </ul>
      </div>
    </div>
  </div>
</div>
