<h1>Angular Upload to ASP.NET WebApi</h1>
<p>This is a reference application that demonstrates how to upload files to a .Net WebApi service.</p>
<h4>Current Specs</h4>
<p>As of 2/1/2018</p>
<table>
  <tbody>
    <tr>
      <th>Angular:</th>
      <td>5.0.0</td>
    </tr>
    <tr>
      <th>WebApi:</th>
      <td>.Net Framework 4.6.1</td>
    </tr>
    <tr>
      <th>Angular cli:</th>
      <td>1.6.3</td>
    </tr>
    <tr>
      <th>Typescript:</th>
      <td>2.4.2</td>
    </tr>
    <tr>
      <th>NodeJS:</th>
      <td>8.9.3</td>
    </tr>
    <tr>
      <th>NPM:</th>
      <td>5.5.1</td>
    </tr>
    <tr>
      <th>Bootstrap:</th>
      <td>3.3.7</td>
    </tr>
  </tbody>
</table>
